.Navbar {
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: row;
    // background-color: red;
    .NavbarContainer {
      align-items: center;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      // background-color: red;
    }
  }
  